html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    color: #333;
    background: #e2e2e2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1500;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

.big-letter{
    font-size: xxx-large;
    font-family: 'Times New Roman';
}

.left-menu a{
    color: #b42121;
    text-decoration: none;
    padding: 10px;
    font-size: xx-large;
    text-transform: uppercase;
}

.left-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navibar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    list-style: none;
    margin-left: auto;
}

.menu li{
    margin: 10px;
}

.menu a{
    color: #333;
    text-decoration: solid;
    padding: 10px;
    font-weight: bold;
    font-size: x-large;
}

.menu-icon{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .line{
    width: 30px;
    height: 3px;
    background-color: rgb(14, 14, 14);
    margin: 3px 5px;
}

.close-icon{
    display: none;
    font-size: 25px;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

@media (max-width: 768px) {
    .menu{
        display: none;         /* Hide the menu by default on smaller screens */
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 1400;
        margin: 0;             /* Removes auto margin for centering */
    }

    .menu.open {
        display: flex;         /* Show the menu when the 'open' class is added */
        background: #cac8c8;
        text-decoration: none;
    }

    .menu-icon {
        display: flex;         /* Show the hamburger menu icon */
    }

    .menu.open + .close-icon{
        display: block;
    }

    .menu-icon.open{
        display: none;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu li::after{
        content: '';
        display: block;
        width: 40px;                 /* Creates a decorative line under the heading */
        height: 3px;
        background-color: #b42121; /* Accent color for underline */
        margin: 3px auto 0;          /* Centers the underline */
    }

    .close-icon{
        display: none;
    }

    .left-menu{
        width: auto;
        height: auto;
    }
}


#home{
    text-align: center;
    padding: 100px 20px;
    margin-top: 50px;
    background: url(images/home-image.jpg);
    background-position: center;
}

.home-image{
    width: 250px;
    height: 300px;
    border-radius: 8%;
}

.home-container{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.socials-icon{
    margin-top: 10px;
}

.socials-icon a{
    margin: 0 10px;
    text-decoration: none;
}

.socials-icon img{
    width: 18px;
    height: 18px;
}

section{
    padding: 50px 20px;
}

h2{
    text-align: center;
}

h2::after {
    content: '';
    display: block;
    width: 60px;                 /* Creates a decorative line under the heading */
    height: 4px;
    background-color: #b42121; /* Accent color for underline */
    margin: 10px auto 0;         /* Centers the underline */
  }

.about-row{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
    margin: 70px auto;
    padding: 20px;
    background-color: #f1f1f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.about-item{
    display: flex;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s;
}

.about-item.reverse{
    flex-direction: row-reverse;
}

.about-image{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.about-text{
    flex: 1;
    text-align: justify;
}

p{
    text-align: justify;
}

.projects-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills-container{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.project-content{
    position: relative;
    width: calc(33.33% - 20px);
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
}

.skills-content{
    position: relative;
    width: calc(50% - 20px);
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
    padding: 20px;
    background-color: #f1f1f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.project-box:hover {
    transform: scale(1.05);
}

.project-image-container {
    position: relative;
}

.project-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    filter: blur(10px);
    transition: filter 0.3s;
}

.project-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 10px;
    background: #f1f1f1;
    border-radius: 5px;
    z-index: 1;
}

h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Adjust to center */
    color: #777;
    background-color: #f0f0f0;
    padding: 10px 15px;
    border-radius: 5px;
    z-index: 1;                      /* Ensure the title is above the image */
    text-align: center;              /* Center the text */
}

.project-content:hover .project-image {
    filter: blur(0);
}

.project-content:hover h4{
    opacity: 0;
}

.project-content:hover .project-details {
    opacity: 1;
}

@media (max-width: 768px) {
    .project-box {
        width: calc(50% - 20px); /* 2 boxes per row */
    }
}


@media (max-width: 480px) {
    .project-box {
        width: 100%; /* Full width, single column layout */
        margin: 10px 0; /* Vertical spacing between projects */
    }
}

.contact-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
}

.contact-content{
    position: relative;
    width: calc(20% - 10px);
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
    padding: 20px;
    background-color: #f1f1f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.contact-content a{
    display: block;
    text-align: center;
}

.contact-image{
    max-width: 80px;
    margin: 0 auto;
    display: block;
}

.messageMe-image{
    border-radius: 10%;
    width: 200px;
    height: 200px;
}

.messageMe-image-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 70px auto;
    padding: 20px;
    background-color: #f1f1f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.contact-content a{
    text-decoration: none;
    color: #333;
}

.contact-info a:hover{
    text-decoration: underline;
}

.contact-info{
    flex: 1;
}

.contact-form{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form label{
    margin-top: 10px;
}

.contact-form input
.contact-form textarea{
    padding: 20px;
    margin-top: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    transition: border-color 0.3s;
    width: 100%;
    box-sizing: border-box;
}

.contact-form button{
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s;
}

.contact-form button:hover{
    background-color: #777;
}

.submit-icon{
    width: 25px;
    height: 25px;
}

@media(max-width: 768px){
    .about-content{
        flex-direction: column;
        text-align: center;
    }

    .about-item{
        flex-direction: column;
        text-align: center;
    }

    .about-item.reverse{
        flex-direction: column;
        text-align: center;
    }

    .about-image{
        width: 100px;
        height: 100px;
    }

    .contact-container{
        flex-direction: column;
        align-items: center;
    }

    .messageMe-image-container,
    .contact-form{
        width: 100%;
    }

    .messageMe-image{
        width: 100px;
        height: 100px;
    }
}

